* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
}

:root {
  --header-bg: #59CE8F;
  --header-text: #ffffff;
}

[data-theme="dark"] {
  --header-bg: #116D6E;
  --header-text: rgb(229, 229, 229);
}
